:root {
    --mobile-header-bg: #ddded9;
    --mobile-header-overlay: #848484;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #6a6a6a;
    margin: 0;
    padding: 0;
    background: #ffffff;
    height: 3000px;
    overscroll-behavior: none;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 60px;
    background-color: var(--mobile-header-bg);
    z-index: 999;
}
@media (max-width: 1023.98px) {
    .sticky-nav {
        display: block;
    }
}
/* Ignore the above CSS */


/* ================== Desktop Search ================== */
.desktop-search {
    position: fixed;
    left: 50%;
    top: 76px;
    transform: translateX(-50%);
    width: 320px;
    border-radius: 30px;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out;
    z-index: 444;
}
.desktop-search.show {
    opacity: 1;
    visibility: visible;
}

.desktop-search__form {
    width: 100%;
}


/* ================== Desktop Filter ================== */
.desktop-filter {
    position: fixed;
    left: 50%;
    bottom: 7vh;
    transform: translateX(-50%);
    width: 420px;
    height: 0;
    background-color: var(--mobile-header-bg);
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -6px 12px -1px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: height .4s ease-in-out, transform .1s ease;
    z-index: 888;
}
.desktop-filter.show {
    height: 480px;
}

.desktop-filters.hide {
    display: none;
}

.desktop-filter__header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 18px 20px;
    /* background-color: #9ca86e; */
    border-radius: 30px 30px 0 0;
}
.desktop-filter__header h4 {
    font-size: 18px;
    line-height: 30px;
}
.desktop-filter__header-btn {
    position: absolute;
    top: 18px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 140px;
    height: 66px;
    border: none;
    background-color: transparent;
    border-top-right-radius: 30px;
    padding: 18px 34px 18px 0;
}

.desktop-filter__header-btn span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #bfbfbf;
    border-radius: 50%;
    color: var(--mobile-header-overlay);
    cursor: pointer;
}

.desktop-filter__content {
    height: 354px;
    padding-right: 4px;
    overflow: hidden;
}

.desktop-filter__content-form {
    width: 100%;
    max-height: 100%;
    padding: 0 30px 34px 34px;
    overflow-y: auto;
    scrollbar-width: 4px;
}
.desktop-filter__content-form::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--mobile-header-bg);
    width: 20px;
}

.desktop-filter__content-form::-webkit-scrollbar
{
	width: 4px;
	background-color: var(--mobile-header-bg);
}

.desktop-filter__content-form::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #c5c5c5;
}

/* Buttons */
.desktop-filter__buttons {
    position: fixed;
    left: 50%;
    bottom: 7vh;
    display: flex;
    align-items: center;
    width: 870px;
    background-color: var(--mobile-header-bg);
    transform: translateX(-50%);
    padding: 10px 0;
    border-radius: 40px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
    z-index: 999;
}

.desktop-filter__buttons-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: var(--mobile-header-overlay);
    padding: 8px 28px;
    cursor: pointer;
}
.desktop-filter__buttons-btn:first-child {
    border-right: 1px solid gray;
    border-radius: 40px 0 0 40px;
}
.desktop-filter__buttons-btn:last-child {
    border-left: 1px solid gray;
    border-radius: 0 40px 40px 0;
}
.desktop-filter__buttons-text {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-left: 16px;
}
.desktop-filter__buttons-btn:focus {
    outline: none;
    box-shadow: none;
}

.desktop-filter-backdrop {
    position: fixed;
    inset: 0;
    display: none;
    background-color: transparent;
    z-index: 555;
}
.desktop-filter-backdrop.show {
    display: block;
}

/* ================== Tablet & Mobile Filter ================== */
.filter-backdrop {
    position: fixed;
    inset: 0;
    display: none;
    background-color: transparent;
    z-index: 888;
}

.filter-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    padding: 0 13px;
    overflow: hidden;
    transition: height .4s ease-in-out, transform .1s ease;
    z-index: 966;
}

.filter__modal {
    width: 100%;
    background-color: #cecdcd;
    border-radius: 30px 30px 0 0;
    padding-bottom: 76px;
}

.filter__header {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0 0;
    padding-bottom: 1px;
    overflow: hidden;
}

.filter__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--mobile-header-overlay);
    padding: 15px 18px;
    padding-top: 18px;
}
.filter__header-btn.go-back-btn {
    display: none;
    padding-left: 40px;
    margin-right: 2px;
}

.filter__header.active-filters .filter__header-btn.reset-btn {
    display: none;
}

.filter__header.active-filters .filter__header-btn.go-back-btn {
    display: flex;
}

.filter__header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: black;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
}

.modal__header-line {
    position: absolute;
    left: 34px;
    bottom: 0;
    width: calc(100% - 68px);
    border-top: 0.5px solid gray;
}

.filter__body {
    position: relative;
    height: 312px;
    overflow: hidden;
}

/* ========== Reset ==== */
.filter__reset {
    height: 100%;
}
.filter__reset.hide {
    display: none;
}

.filter__reset-list {
    padding: 0 34px;
    margin: 0;
}

.filter__reset-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: 0.5px solid gray;
    font-size: 16px;
    padding: 18px 0;
    padding-right: 20px;
}

.filter__reset-item:last-child {
    border-bottom: none
}

.filter__reset-icon {
    display: flex;
    align-items: center;
}

.filter__reset-icon span {
    display: inline-block;
    margin-left: 8px;
    font-size: 22px;
    line-height: 1;
    transform: translateY(-5px);
}

.filter__reset-search {
    width: 100%;
    padding: 0 34px;
}

.filter__search {
    position: relative;
}

.filter__search-icon {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 9px;
    height: 22px;
    color: #bbbbbb;
}

.filter__search-input {
    width: 100%;
    border: none;
    background-color: #e1e1e1;
    padding: 10px 40px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
}

.filter__search-input:focus {
    box-shadow: none;
    outline: none;
}

.filter__search-btn {
    position: absolute;
    right: 7px;
    top: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: black;
    border-radius: 50%;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.filter__search-btn.show {
    visibility: visible;
    opacity: 1;
}

.filter__hide-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.filter__form {
    width: 100%;
    max-height: 100%;
    padding: 0 34px;
    padding-top: 15px;
    padding-bottom: 46px;
    overflow-y: auto;
}
.filter__form.hide {
    display: none;
}

.filter__form-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

.filter__form-row {
    border-bottom: 1px solid gray;
}

.filter__form-label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 15px 0;
    cursor: pointer;
}

.filter__form-radio {
    position: absolute;
    left: 0;
    top: 20px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.filter__form-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.filter__form-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    transition: all .3s ease;
}

.filter__form-radio:checked ~ .filter__form-circle .filter__form-dot{
    background-color: black;
}

/* Filter Button */
.filter__button {
    position: fixed;
    left: 0;
    bottom: 76px;
    display: none;
    width: 100%;
    z-index: 922;
}

.filter__button-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: transparent;
    font-size: 16px;
    color: var(--mobile-header-overlay);
    cursor: default;
}

.filter__button-btn:focus,
.filter__button-btn:hover {
    outline: none;
    box-shadow: none;
}

.filter__button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 100%;
    background-color: var(--mobile-header-bg);
    border-radius: 30px;
    cursor: pointer;
}

.filter__button-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
}

.filter__button-icon > span {
    width: 16px;
    height: 2px;
    background-color: var(--mobile-header-overlay);
    margin-bottom: 2px;
}

.filter__button-icon > span:nth-child(2) {
    width: 12px;
}

.filter__button-icon > span:last-child {
    width: 8px;
}

@media (max-width: 1023.98px) {
    .desktop-search {
        display: none;
    }
    .desktop-filter-backdrop.show {
        display: none;
    }
    .desktop-filter, 
    .desktop-filter__buttons {
        display: none;
    }
    .filter-backdrop.show {
        display: block;
    }
    .filter-container.show {
        opacity: 1;
        height: 450px;
    }
    .filter__button {
        display: block;
    }
}
